body {
    background-color: rosybrown;
}

h2{
   text-indent: 20px;
   letter-spacing: 5px;
   word-spacing: 30px; 
   font-style: italic;
}

#titulo-cenas{
    text-align:center ;
} 

.azul{
    color: aquamarine;
    text-align: right;
}
p.maiuscula {
    text-transform: uppercase; /*todas as letras da frase marcada em caixa alta*/
    }
p{
    line-height: 10px;
    font-weight: 900;
}
h4{
    text-shadow: 5px/*eixo horizontal*/ -1px/*eixo veritcal*/ 5px/*size/espalhamento*/ purple/*cor, obviamente*/;
}

body {
    /*isto é um gradiente*/background-image: linear-gradient(180deg, rgb(100, 30, 30) 80%, rgb(255, 255, 255));
    background-image: url(https://images.pexels.com/photos/12587281/pexels-photo-12587281.jpeg?cs=srgb&dl=pexels-vitalina-12587281.jpg&fm=jpg);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: right;
}
